:root {
  --color-yellow: #F4D04E;

  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-gray-500: #6B6B6B;
  --color-gray-950: #111111;

  --border: 1px solid var(--color-gray-950);

  --shadow: 8px 8px 0px 0px var(--color-black);
}